<p style="color: green"><%= notice %></p>

<h1 class="text-center" style="font-family: 'Merriweather', serif; color: #4d3f2b;">Manage Books</h1>

<div class="container">
  <%= link_to "New Book", new_admin_book_path, class: "btn btn-success my-3" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author.name %></td>
          <td><%= book.genre.name %></td>
          <td>$<%= book.price %></td>
          <td>
            <div class="d-flex">
              <%= link_to "Edit", edit_admin_book_path(book), class: "btn btn-warning btn-sm me-2" %>
              <%= button_to "Delete", admin_book_path(book), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
