<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<h1 class="mb-4 text-center" style="font-family: 'Merriweather', serif; color: #4d3f2b;">Books</h1>

<div class="text-center my-3">
  <%= link_to "Newest Books", books_path(filter: "newest"), class: "btn mx-2 #{'btn-primary' if params[:filter] == 'newest'}" %>
  <%= link_to "On Sale", books_path(filter: "sale"), class: "btn mx-2 #{'btn-primary' if params[:filter] == 'sale'}" %>
  <%= link_to "All Books", books_path, class: "btn mx-2 #{'btn-primary' if params[:filter].nil?}" %>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    <% @books.each do |book| %>
      <div class="col">
        <div class="card h-100 border-light shadow-sm" style="background-color: #f4f1e1; border-radius: 12px; padding: 5px; background: #f8f3e4; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); min-height: 300px;">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center" style="font-size: 1.4rem; color: #4d3f2b;"><%= book.title %></h5>
            <p class="card-subtitle mb-2 text-center" style="color: #4d3f2b;">
              <%= link_to book.author.name, author_path(book.author), class: 'text-decoration-none' %>
            </p>
            <p class="card-text" style="font-size: 0.9rem; color: #4d3f2b; flex-grow: 1; overflow: hidden;"><%= truncate(book.description, length: 150) %></p>
            <p class="text-center" style="color: #4d3f2b;"><strong>Price:</strong> $<%= book.price %></p>
            <div class="text-center">
              <%= link_to "Show this book", book, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center align-items-center mt-4">
    <%= paginate @books, class: 'pagination justify-content-center' %>
  </div>
